// 全局变量
@size-title: 24px;
@color-title: #333;
@title-text:#F7F7F8;
@primary-text:#D7D8DB;
@Secondary-text:#8A8F98;
@icon-fill:#8A8F98;
@bg-color-1:#1F2023;
@bg-color-2:#27282B;
@bg-card:#222327;
@border-hr:#303236;
@nav-hover:#2D2F36;
@button-fill:#303236;
@button-stroke:#3C3F44;
@primary:#4EA7FC;
@Danger:#EB5757;


